@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
@import url('./nav-sidebar.css');
@import url('./main-content.css');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f8f9fd;
}


.card{
    box-shadow: 9px 5px 56px 0px rgba(53,71,172,0.41);
    border-radius: 30px;
}

.title_data{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.title_data h2{
    font-family: 'Poppins', sans-serif !important;
    padding: 15px 0 0 5px;
    font-weight: 500;
    margin-left: 10px;
}

.title_data img{
    width: 40px;
    height: auto;
}

@media (max-width: 1024px) {
  .information .card {
    width: 100%;
  }
  #chart-revenue {
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 480px) {
  .sidebar {
    overflow-y: scroll;
  }
  .content {
    padding: 40px 16px;
    width: fit-content;
  }
  .search {
    width: 250px;
  }
}

@media (max-width: 767.98px) {
  .content {
    margin-left: 0;
  }

/* button.btn-new-style {
    position: absolute;
    right: 0;
    top: -50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .position-relative {
    position: relative;
    z-index: 1;
  } */
}

.fa-icon{
  width: 40px; 
  height: 40px;
}